.tabs{
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	/* margin-left: 170px; */
}
.tabs__box{
	display: flex;
	position: relative;
	justify-content: flex-start;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	margin-top: 99px;
	z-index: 1;
	margin-right: 560px;
}
.box__tab1{
	height: 39px;
	line-height: 39px;
	width: 203px;
	border:1px solid #C6CBCD;
	border-bottom:1px solid #FFFFFF;
	border-radius:3px
}
.box__tab2{
	width: 203px;
	line-height: 39px;
	border-bottom:1px solid #C6CBCD ;
}
.box__tab3{
	width: 203px;
	line-height: 39px;
	border-bottom:1px solid #C6CBCD ;
}

.tabs__conteiner{
	width: 100%;
	height: 501px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tabs__text{
	width: 700px;
	height: 501px;
	border: 1px solid #C6CBCD;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.tabs__title{
	width: 570px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	color: #000000;
	margin-left: 100px;

}
.tabs__qote{
	width: 570px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin-left: 100px;
}
.tabs__img{
	width: 470px;
	height: 500px;
}
.tabs__btn{
	display: inline-block;
	vertical-align: top;
	padding: 18px 70px;
	border-radius: 2px;
	border: 0;
	cursor: pointer;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #EC7979;
	margin-left: 100px;
}